{{extend 'layout.html'}}
<div class="row">
	<div class="span6">
		<h1>Projects</h1>
		<table>
			<tr>
				<th>Project</th>
				<th>Mile Marks<th>
			</tr>
			{{for project in projects:}}
				<tr>
					<td>
						{{=project.siri_projects.name + " (%d mile %s)" % (project[count], "mark" if project[count] == 1 else "marks")}}
					</td>
				</tr>
				{{for milestone in milestones:}}
					{{if milestone.siri_projects.name == project.siri_projects.name:}}
						<tr>
							<td/>
							<td>{{=milestone.mentorTrack_projects.milemark}}</td>
						</tr>
					{{pass}}
				{{pass}}
			{{pass}}
		</table>
	</div>
	<div class="span6">
		<h3>Add Mile Stone to Project</h3>
		{{=buildProjectForm}}
	</div>
</div>
<hr>
<div class="row">
	<div class="span6">
		<h1>Mentees</h1>
		<table>
			<tr>
				<th>Mentee</th>
				<th>Mentor</th>
				<th>Assigned Project</th>
			</tr>
		{{for i in mentorTrack_mentees:}}
			<tr>
				<td>{{=i.mentee_id.first_name+' '+i.mentee_id.last_name}}</td>
				<td>{{=i.mentor_id.first_name+" 'Danger' "+i.mentor_id.last_name}}</td>
				<td>{{=i.siri_projects.name}}</td>
			</tr>
		{{pass}}
		</table>
	</div>
	<div class="span6">
		<h3>Add Mentee</h3>
		{{=assignMentorTrackForm}}

	</div>
</div>

{{#=BEAUTIFY(response._vars)}}