<head> <!-- ... --> <!-- The client library requires jQuery --> 
	<script src="http://code.jquery.com/jquery-1.7.1.min.js"></script> 
	<script src="https://api.trello.com/1/client.js?key=dfa1c6f431ffce07a6cd11a9daa0d081"></script> <!-- ... --> </head>



{{extend 'layout.html'}}
{{# TODO: convert the HTML to web2py helpers}}
<div id="clock-in-out" class="row well well-small">
	<div class="btn btn-large span2 pull-right" data-target="#clock_out_modal" data-toggle="modal">Clock Out</div>
	<div class="btn btn-large span2 pull-right" onclick="ajax('clockIn', [], 'clock-message')">Clock In</div>
	<div class="pull-right label label-success" id="clock-message"></div>
</div>
<div class="row">
	<div id="span12 timeclock-entries" class="span12">
		<h1>Entries</h1>
		<table class="table table-striped">
			<thead>data-target="#contact_modal" data-toggle="modal"
				<tr class="table-header">
					<td>Date</td>
					<td>Time In</td>
					<td>Time Out</td>
					<td>Description</td>
					<td>Hours</td>
					<td>Issue?</td>
				</tr>
			</thead>
			<tbody>
				{{if len(clockEntries) >= 15:}}
					{{for i in xrange(15):}}
					<tr>
						<td>{{=clockEntries[i].work_date.strftime("%m/%d/%Y")}}</td>
						<td>{{=clockEntries[i].time_in}}</td>
						<td>{{=clockEntries[i].time_out}}</td>
						<td>{{=clockEntries[i].description}}</td>
						<td>{{=clockEntries[i].hours}}</td>
						<td>{{=A(I(_class="icon-exclamation-sign"), _href="mailto:e.caldwell@sirinstitute.org?Subject=Sending%20Test%20Email%20&Body=Test%20Message%20")}}</td>
					</tr>
					{{pass}}
				{{else:}}
					{{for entry in clockEntries:}}
					<tr>
						<td>{{=entry.work_date.strftime("%m/%d/%Y")}}</td>
						<td>{{=entry.time_in}}</td>
						<td>{{=entry.time_out}}</td>
						<td>{{=entry.description}}</td>
						<td>{{=entry.hours}}</td>
						<td>
							<a class="" data-target="#contact_modal" data-toggle="modal"><i class="icon-exclamation-sign"></i></a>
						</td>
					</tr>
					{{pass}}
				{{pass}}
			</tbody>
			<tfoot>
				<tr>
					<td></td><td></td><td></td><td class="table-total" style="text-align:right">{{=B('Total Hours')}}:</td><td>{{=B("%.2f" % totalHours)}}</td>
				</tr>
			</tfoot>
		</table>
		{{=A('See All', _href=URL('timeclock', 'displaytime'))}}
	</div>
</div>
<hr>
<div class="row">
	<div id="span12 timeclock-form" class="span6" style="float: left;">
		<h1>Add Time</h1>
		{{=form}}
		<!-- TODO: manual form submit didn't work
		<form action="#" enctype="multipart/form-data" method="post">
		  <input name="project" />
		  <input name="work_date" class="date" />
		  <input name="time_in" />
		  <input name="time_in_ampm" />
		  <input name="time_out" />
		  <input name="time_out_ampm" />
		  <input name="description" />
		  <input type="submit" />
		  <input type="hidden" name="_formname" value="enter_time" />
		</form>
		-->
	</div>
	<div id="bulliten-board" class="span6" style="float: right;">
		<h1>Bulletin Board</h1>
		{{=LOAD('timeclock', 'bulletin_board.load', ajax=True, user_signature=True, ajax_trap=True)}}
	</div>
</div>
<hr>
<div class="row">
	<div class="span3">
		<iframe id="forecast_embed" type="text/html" frameborder="0" height="245" width="100%" src="http://forecast.io/embed/#lat=43.8261&lon=-111.7831&name=Rexburg"> </iframe>
	</div>
	<div class="span3">
		<h1>Trello Notifications</h1>
		{{=LOAD('timeclock', 'trello.load', ajax=True, ajax_trap=True, user_signature=True)}}
	</div>
	<div class="span6">
		<h1>Mentor Track</h1>
		{{=LOAD('mentorTrack', 'personal.load', ajax=True, ajax_trap=True, user_signature=True)}}
	</div>
</div>


<div id="contact_modal" class="modal hide fade">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>&nbsp;</div>
    <div class="modal-body">
    	{{=H1('Please ask your question')}}
    	{{=LOAD('timeclock', 'ask.load', ajax=True, ajax_trap=False, user_signature=True)}}
    </div>
    <div class="modal-footer">&nbsp;</div>
</div>

<div id="clock_out_modal" class="modal hide fade">
    <div class="modal-header"><button type="button" class="close" data-dismiss="modal">&times;</button>&nbsp;</div>
    <div class="modal-body">
    	{{=H1('Project')}}
    	{{=LOAD('timeclock', 'clock_out_modal.load', ajax=True, ajax_trap=True, user_signature=True)}}
    </div>
    <div class="modal-footer">&nbsp;</div>
</div>
