{{extend 'layout.html'}}
<div id="timeclock-form" style="float:left; width:40%">
	<h1>Add Time</h1>
	{{=form}}
</div>
<div id="timeclock-entries" style="float:left; width:60%">
	<h1>Entries</h1>
	<table>
		<thead>
			<tr class="table-header">
				<td>Date</td>
				<td>Time In</td>
				<td>Time Out</td>
				<td>Description</td>
				<td>Hours</td>
			</tr>
		</thead>
		<tbody>
			{{if len(clockEntries) >= 15:}}
				{{for i in xrange(15):}}
				<tr>
					<td>{{=clockEntries[i].work_date}}</td>
					<td>{{=clockEntries[i].time_in}}</td>
					<td>{{=clockEntries[i].time_out}}</td>
					<td>{{=clockEntries[i].description}}</td>
					<td>{{=clockEntries[i].hours}}</td>
				</tr>
				{{totalHours += clockEntries[i].hours}}
				{{pass}}
			{{else:}}
				{{for entry in clockEntries:}}
				<tr>
					<td>{{=entry.work_date}}</td>
					<td>{{=entry.time_in}}</td>
					<td>{{=entry.time_out}}</td>
					<td>{{=entry.description}}</td>
					<td>{{=entry.hours}}</td>
				</tr>
				{{totalHours += entry.hours}}
				{{pass}}
			{{pass}}
		</tbody>
		<tfoot>
			<tr>
				<td></td><td></td><td></td><td class="table-total" style="text-align:right">{{=B('Total Hours')}}:</td><td>{{=B(totalHours)}}</td>
			</tr>
		</tfoot>
	</table>
	{{=A('See All', _href=URL('timeclock', 'displaytime'))}}
</div>